{% block contact %} 
{% load static %}

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>It's good to communicate with people, so do with me.</p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="contact-about">
            <h3>Social Medias</h3>
            <p>It is pleased me to know you too. Let's follow each other.</p>
            <div class="social-links">
              {% if instagram != "" %}
                <a href="{{instagram}}" class="instagram"><i class="bi bi-instagram"></i></a>
              {% endif %}
              {% if twitter != "" %}
                <a href="{{twitter}}" class="twitter"><i class="bi bi-twitter"></i></a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="info">
            {% if address != "" %}
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>{{address}}</p>
              </div>
            {% endif %}
            {% if email != "" %}
              <div>
                <i class="bi bi-envelope"></i>
                <p>{{email}}</p>
              </div>
            {% endif %}
          </div>
        </div>

        {% comment %} <div class="col-lg-5 col-md-12">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="form-group mt-3">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div> {% endcomment %}
        
      </div>

    </div>
  </section><!-- End Contact Us Section -->

{% endblock contact %}