<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block heads %} {% include 'heads.html' %} {% endblock heads %}
<body>
  {% block headers %} {% include 'headers.html' %} {% endblock headers %}
  {% block jumbotron %} {% include 'jumbotron.html' %} {% endblock jumbotron %}

  {% block main %} {% include 'main.html' %} {% endblock main %}
  {% block footer %} {% include 'footer.html' %} {% endblock footer %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  {% block scripts %} {% include 'scripts.html' %} {% endblock scripts %}
</body>

</html>